In [1]:
import sqlite3

In [2]:
sqlite_Connection = sqlite3.connect("test.db")

In [3]:
cursor = sqlite_Connection.cursor()

In [4]:
sqlite_Connection.close()

- The cursor object is used to make the connection for executing SQL queries.
- It acts as middleware between SQLite database connection and SQL query. It is created after giving connection to SQLite database. 
- The cursor is a control structure used to traverse and fetch the records of the database. 
- All the commands will be executed using cursor object only.

## Creating a table

In [5]:
connection = sqlite3.connect("test.db")

cursor = connection.cursor()

sql_command = """Create Table employee(
Employee_ID INTEGER PRIMARY KEY,
First_name VARCHAR(30),
Last_name VARCHAR(30),
Gender  CHAR(1),
Joined DATE);"""

cursor.execute(sql_command)

connection.close()

## Inserting into a Table

In [6]:
connection = sqlite3.connect("test.db")

cursor = connection.cursor()

cursor.execute("Insert into employee Values(1,'Elon','Musk','M','2002-10-29')")

connection.commit()

In [7]:
connection.close()

## Inserting multiple values or user input

In [8]:
connection=sqlite3.connect("test.db")

cursor = connection.cursor()

ID = [2, 3, 4, 5, 6]
  
first_name = ['Nikhil', 'Nisha', 'Abhinav', 'Raju', 'Anshul']
  
last_name = ['Aggarwal', 'Rawat', 'Tomar', 'Kumar', 'Aggarwal']
  
gender = ['M', 'F', 'M', 'M', 'F']
  
date = ['2019-08-24', '2020-01-01', '2018-05-14', '2015-02-02', '2018-05-14']

for i in range(len(ID)):
    cursor.execute(f"Insert  into employee Values({ID[i]},'{first_name[i]}','{last_name[i]}','{gender[i]}','{date[i]}')")

connection.commit()

In [9]:
connection.close()

## Fetching Data

In [10]:
connection = sqlite3.connect("test.db")

cursor = connection.cursor()

cursor.execute("Select * from employee")

result = cursor.fetchall()

for i in result:
    print(i)
    
connection.close()

(1, 'Elon', 'Musk', 'M', '2002-10-29')
(2, 'Nikhil', 'Aggarwal', 'M', '2019-08-24')
(3, 'Nisha', 'Rawat', 'F', '2020-01-01')
(4, 'Abhinav', 'Tomar', 'M', '2018-05-14')
(5, 'Raju', 'Kumar', 'M', '2015-02-02')
(6, 'Anshul', 'Aggarwal', 'F', '2018-05-14')

## Updating Data

In [11]:
connection = sqlite3.connect("test.db")

cursor = connection.cursor()

cursor.execute("Update  employee set first_name='Elonn' where last_name='Musk'")

connection.commit()

cursor.execute("Select * from employee")

result = cursor.fetchall()

for i in result:
    print(i)

cursor.close()

(1, 'Elonn', 'Musk', 'M', '2002-10-29')
(2, 'Nikhil', 'Aggarwal', 'M', '2019-08-24')
(3, 'Nisha', 'Rawat', 'F', '2020-01-01')
(4, 'Abhinav', 'Tomar', 'M', '2018-05-14')
(5, 'Raju', 'Kumar', 'M', '2015-02-02')
(6, 'Anshul', 'Aggarwal', 'F', '2018-05-14')

## Deleting Data

In [12]:
connection = sqlite3.connect("test.db")

cursor = connection.cursor()

cursor.execute("Delete From employee where first_name='Nisha'")

connection.commit()

cursor.execute("Select * from employee")

result = cursor.fetchall()

for i in result:
    print(i)

cursor.close()

(1, 'Elonn', 'Musk', 'M', '2002-10-29')
(2, 'Nikhil', 'Aggarwal', 'M', '2019-08-24')
(4, 'Abhinav', 'Tomar', 'M', '2018-05-14')
(5, 'Raju', 'Kumar', 'M', '2015-02-02')
(6, 'Anshul', 'Aggarwal', 'F', '2018-05-14')

## Drop table name is used to delete  the entire table