In [1]:
import sqlite3

## executescript

In [8]:
connection = sqlite3.connect("database.db")

cursor = connection.cursor()

cursor.executescript("""
    Create table Student(
        Student_ID Integer Primary Key,
        First_Name Varchar(30),
        Last_Name Varchar(30)
    );
    
    Create table Book(
        Name Varchar(50),
        Author Varchar(50),
        Pages Integer
    );
    
    Insert into Student values(1,"Muthu","Pandi");
    
    Insert into Book values("Data Structure","Debasis Samantha",'500');

""")

connection.commit()

cursor.execute("Select * from Student")

result  = cursor.fetchall()

print(result)

connection.close()

[(1, 'Muthu', 'Pandi')]

## Executemany

In [12]:
connection = sqlite3.connect("database.db")

cursor = connection.cursor()

StudentList = [(2,"Gokul","Nath"),(3,"Delson","Anne"),(4,"Bharath","Gifta")]

connection.executemany("""Insert into Student  values(?,?,?)""",StudentList)

BookList = [("AI","Stuart",'700'),("JS","Elon",'900'),("Game  Development","PUBG",'200')]

connection.executemany("""Insert  into Book values(?,?,?)""",BookList)

connection.commit()

cursor.execute("Select * from Student")

result  = cursor.fetchall()

for i in result:
    print(i)

cursor.execute("Select * from Book")

result  = cursor.fetchall()

print("\n")
for i in result:
    print(i)

connection.close()

(1, 'Muthu', 'Pandi')
(2, 'Gokul', 'Nath')
(3, 'Delson', 'Anne')
(4, 'Bharath', 'Gifta')


('Data Structure', 'Debasis Samantha', 500)
('AI', 'Stuart', 700)
('JS', 'Elon', 900)
('Game  Development', 'PUBG', 200)