In [41]:
import mysql.connector as db

In [30]:
dataBase = db.connect(host="localhost",
                      user="root",
                      passwd="g2l3b5@2002M")

print(dataBase)

dataBase.close

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000021461DEC6D0>

## Creating DataBase

In [13]:
cursor = dataBase.cursor()

In [ ]:
cursor.execute("Create DataBase Demo1")

In [ ]:
dataBase.close()

## Creating Table

In [42]:
database= db.connect(
        host = "localhost",
        user = "root",
        password="g2l3b5@2002M",
        database = "demo1"
)

cursor = database.cursor()

In [15]:
student_record = '''
    CREATE TABLE STUDENT(
        STUDENT_ID INT NOT NULL AUTO_INCREMENT,
        NAME VARCHAR(30) NOT NULL,
        BRANCH  VARCHAR(30),
        ROLL_NUMBER VARCHAR(10) NOT NULL,
        SECTION VARCHAR(5),
        AGE INT,
        PRIMARY KEY(STUDENT_ID)
    )
'''

cursor.execute(student_record)

## INSERTING INTO TABLES

### `INSERTING SINGLE ROW`

In [ ]:
command = """
    INSERT INTO STUDENT VALUES('1','MUTHU','CSE','2036','E','19')
"""

cursor.execute(command)

database.commit()

**Alternative Method**

In [ ]:
command = "INSERT INTO STUDENT VALUES(%s,%s,%s,%s,%s,%s)"

value = ('2','PANDI','CSE','2037','E','19')

cursor.execute(command,value)

database.commit()

## INSERTING MULTIPLE ROWS

In [ ]:
command = "INSERT INTO STUDENT(NAME,BRANCH,ROLL_NUMBER,SECTION,AGE) VALUES(%s,%s,%s,%s,%s)"

val = [("Nikhil", "CSE", "98", "A", "18"),
       ("Nisha", "CSE", "99", "A", "18"),
       ("Rohan", "MAE", "43", "B", "20"),
       ("Amit", "ECE", "24", "A", "21"),
       ("Anil", "MAE", "45", "B", "20"),
       ("Megha", "ECE", "55", "A", "22"),
       ("Sita", "CSE", "95", "A", "19")]

cursor.executemany(command,val)

database.commit()

## SELECT STATEMENT

In [47]:
cursor = database.cursor()

InternalError: Unread result found

In [48]:
command = "SELECT * FROM STUDENT WHERE BRANCH='CSE'"

cursor.execute(command)

result =  cursor.fetchall()

print(result)

InternalError: Unread result found

##  WHERE Statement

In [28]:
cursor.execute("SELECT  * FROM STUDENT WHERE BRANCH='CSE' AND AGE>=19")

result = cursor.fetchall()

for i in result:
    print(i)

ProgrammingError: 2055: Cursor is not connected

### Similary all other  queries like `Order_by` , `Update` etc.., can be used in the same manner

In [ ]:
database.close()

<hr>